<!-- views/reviews-new -->

<form method="POST" action="/reviews">
    {{> reviews-form}}

    <!-- Button -->
    <p>
        <button type="submit">Save Review</button> <a href="/">Cancel</a>
    </p>
</form>
